{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'external.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Простой сайт</title>
  </head>
  <body>
	<nav class="navbar navbar-light bg-light container">
	  <a class="navbar-brand logo-top" href="#">
	    <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
	    Brand Name
	  </a>
	  <div class="contact-top">
                <a class="whatsapp-number" href="https://web.whatsapp.com/"></a>
                <a class="telegram-number" href="https://t.me/"></a>
              <a class="phone-number text-dark" href="tel:+74957777777">
              	<h5>+7(495)-777-77-77</h5></a>
      </div>
	</nav>

{% block index %}

{% endblock %}

{% block thankc %}

{% endblock %}
<footer>
  		<div class="container">
  			<nav class="navbar navbar-light bg-light container">
			    <a class="navbar-brand logo-top" href="#">
			    	<img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
			    	Brand Name
			    </a>
	  			<div class="contact-top">
	                <a class="whatsapp-number" href="https://web.whatsapp.com/"></a>
	                <a class="telegram-number" href="https://t.me/"></a>
	              	<a class="phone-number text-dark" href="tel:+74957777777">
	              	<h5>+7(495)-777-77-77</h5></a>
      			</div>
			</nav>
  		</div>
  	    </footer>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>